* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-conteiner1 {
    margin: 100px 80px 30px 80px;
    text-align: justify;
}

#main-conteiner2 {
    margin: 100px 150px 30px 150px;
    text-align: justify;
}

h1 {
    text-align: center;
    color: rgba(72, 73, 73, 0.575);
}

h4 {
    font-weight: 300;
    margin: 10px 0px;

}

i {
    margin: 0px 10px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #ffffff;
}

.nav-link:focus,
.nav-link:hover {
    color: #ffffff;
}


#icon-scales {
    width: 30px;

}


/* ************************************************************ 
<!-- MEDIA QUERY -->
************************************************************  */


@media only screen and (min-width:200px) and (max-width:800px) {

    #main-conteiner1 {
        margin: 100px 30px 30px 30px;
        text-align: justify;

    }

    #main-conteiner2 {
        margin: 100px 30px 30px 30px;

    }

    h1 {
        margin: 20px 0px;
        font-size: 25px;
    }

}